@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 222 47% 11%;
  }

  body {
    @apply bg-background text-text-primary antialiased;
  }
}

@layer utilities {
  .bg-dot-pattern {
    background-image: radial-gradient(circle, #c7d2fe 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
